@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, header, footer, #body-row{
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}
p, h1, h2, h3{
    margin: 0px;
}
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: #1B2023;
    background-color: #D5E6ED;
    display: grid;
    grid-template-columns: 16vw 1fr;
    grid-template-rows: 85px 1fr 85px;
    grid-template-areas: "header header"
                         "nav main"
                         "footer footer";
}
header, footer{
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding: 0 4%;
}
header{
    grid-area: header;
    justify-content: space-between;
}
footer{
    grid-area: footer;
    justify-content: flex-end;
}
#logo-empresa, #logo-KER{
    max-width: 10%;
}
main{
    grid-area: main;
    padding: 1% 4.8%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    grid-area: nav;
    background-color: #2766A9;
    padding-top: 8%;
    position: relative;
}
#buttons{
    position: fixed;
    left: 0;
    width: fit-content;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
nav button{
    position: relative;
    display: flex;
    align-items: center;

    background-color: transparent;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #A5CEE0;

    box-sizing: border-box;
    width: 16vw;
    gap: 8%;
    padding: 4% 8% 4% 24%;

    cursor: pointer;
}
#selection-bar{
    width: 1%;
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 0px 16px 16px 0px;
    position: absolute;
    left: 0px;
    opacity: 0;
}
.selected-nav{
    color: white;
}
.selected-nav path{
    stroke: white;
}
.selected-nav #selection-bar{
    opacity: 1;
}


/*---------- estilização do conteúdo da main ↓*/
/*---------- Cabeçalho  */
#cabecalho{
    background-color: #F5F5F5;
    width: 100%;
    padding: 2em 0px;
    max-height: 18.5%;
    border-radius: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;

    position: relative;
}
#foto-empresa{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    border-radius: inherit;
}
#foto-empresa img{
    width: 100%;
}
#cabecalho h1{
    position: relative;
    left: -4%;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #1B2023;
    text-align: end;
}
#nome-empresa{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
.desafio{
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 24px 0px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.desafio h2{
    margin: 0px;
    font-weight: 700;
    font-size: 28px;
    line-height: 39px;
    color: #1B2023;
}
.desafio p{
    margin: 0px;
    color: #1B2023;
}
.button-desafio{
    background-color: #2766A9;
    border: none;
    border-radius: 12px;
    padding: 8px 32px;

    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #F5F5F5;

    cursor: pointer;
}