@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    height: 100%;
}
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #D5E6ED;
}
header, footer{
    background-color: #F5F5F5;
    height: 12%;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4%;
    color: #1B2023;
}
footer{
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 500;
}
#logo-empresa{
    max-width: 300px;
    max-height: calc(100% - 20px);/*altura do pai (header) -20px para as margens*/
}
#logo-KER{
    scale: 125%;
    max-width: 130px;
}
#body-row{
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 0px;
    min-height: 76%;
}
main{
    box-sizing: border-box;
    padding: 4% 2%;
    min-height: 100%;
    height: fit-content;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
nav{
    position: relative;
    background-color: #2766A9;
    width: 16%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    padding: 4% 0px 0px 0px;
}
#buttons{
    position: fixed;
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
nav button{
    position: relative;
    display: flex;
    align-items: center;
    gap: 8%;
    background-color: transparent;
    border: none;
    padding: 0px 0px 0px 20%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #A5CEE0;
    width: 100%;
    height: 7%;
}
#selection-bar{
    width: 1%;
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 0px 16px 16px 0px;
    position: absolute;
    left: 0px;
    opacity: 0;
}
#selected-nav{
    color: white;
}
#selected-nav path{
    stroke: white;
}
#selected-nav #selection-bar{
    opacity: 1;
}