@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body,
header,
footer,
#body-row {
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

p,
h1,
h2,
h3 {
    margin: 0px;
}

body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: #1B2023;
    background-color: #D5E6ED;
    display: grid;
    grid-template-columns: 16vw 1fr;
    grid-template-rows: 85px 1fr 85px;
    grid-template-areas: "header header"
        "nav main"
        "footer footer";
}

header,
footer {
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding: 0 4%;
}

header {
    grid-area: header;
    justify-content: space-between;
}

footer {
    grid-area: footer;
    justify-content: flex-end;
}

#logo-empresa,
#logo-KER {
    max-width: 10%;
}

main {
    grid-area: main;
    position: relative;
}

nav {
    grid-area: nav;
    background-color: #2766A9;
    padding-top: 8%;
    position: relative;
}
#buttons{
    position: fixed;
    left: 0;
    width: fit-content;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
nav button{
    position: relative;
    display: flex;
    align-items: center;

    background-color: transparent;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #A5CEE0;

    box-sizing: border-box;
    width: 16vw;
    gap: 8%;
    padding: 4% 8% 4% 24%;

    cursor: pointer;
}
#selection-bar{
    width: 1%;
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 0px 16px 16px 0px;
    position: absolute;
    left: 0px;
    opacity: 0;
}
.selected-nav{
    color: white;
}
.selected-nav path{
    stroke: white;
}
.selected-nav #selection-bar{
    opacity: 1;
}


.titulo-grupo {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.titulo-grupo h1 {
    margin: 0px;
}

.titulo-grupo p {
    margin: 0px;
}

.cabecalho-grupo {
    display: flex;
    width: 100%;
    flex: none;
    background-color: #2766A9;
    top: 0;
    left: 0;
    justify-content: flex-start;
}

.cabecalho-grupo img {
    width: 3%;
    height: 3%;
    padding-left: 70%;
    padding-top: 2%;
}



.balao-texto {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 1%;
    width: fit-content;
}

.balao-container {
    display: flex;
    flex-direction: column;
    margin: 3% 0% 0% 0%;
    justify-content: flex-start;
    padding-left: 2%;
    top: 10%;
}

.balao-container-voce {
    display: flex;
    flex-direction: column;
    margin: 3% 0% 0% 0%;
    align-items: flex-end;
    padding-right: 2%;

    text-align: right;
}

.nome-usuario {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.chat-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    height: 50px;
    gap: 16px;
    margin-top: 4%;
}

.input-container {
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
  }

.input-text {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #D5E6ED;
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }

  .input-button {
    position: absolute;
    right: 10px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    width: 23px;
    height: 23px;
    background-image:url(images/enviar-msg.svg);
    background-color: transparent;
  }