@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, header, footer, #body-row{
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}
p, h1, h2, h3{
    margin: 0px;
}
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: #1B2023;
    background-color: #D5E6ED;
    display: grid;
    grid-template-columns: 16vw 1fr;
    grid-template-rows: 85px 1fr 85px;
    grid-template-areas: "header header"
                         "nav main"
                         "footer footer";
}
header, footer{
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding: 0 4%;
}
header{
    grid-area: header;
    justify-content: space-between;
}
footer{
    grid-area: footer;
    justify-content: flex-end;
}
#logo-empresa, #logo-KER{
    max-width: 10%;
}
main{
    grid-area: main;
    padding: 1% 4.8%;
}
nav{
    grid-area: nav;
    background-color: #2766A9;
    padding-top: 8%;
    position: relative;
}
#buttons{
    position: fixed;
    left: 0;
    width: fit-content;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
nav button{
    position: relative;
    display: flex;
    align-items: center;

    background-color: transparent;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #A5CEE0;

    box-sizing: border-box;
    width: 16vw;
    gap: 8%;
    padding: 4% 8% 4% 24%;

    cursor: pointer;
}
#selection-bar{
    width: 1%;
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 0px 16px 16px 0px;
    position: absolute;
    left: 0px;
    opacity: 0;
}
.selected-nav{
    color: white;
}
.selected-nav path{
    stroke: white;
}
.selected-nav #selection-bar{
    opacity: 1;
}

.container-perfil{
    display: flex;
    flex-direction: column;
    width: 32.8em;
    height: 7.13em;
    border-radius: 1em;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 20rem;
}

.container-perfil img{
    margin-left: 0rem;
    max-width: 10rem;
    clip-path: circle();
    align-self: left;
    justify-content: left;
}

.container-perfil h4{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    max-width: 10rem;
    margin: 0rem;
    margin-left: 10rem;
    margin-top: -7.5rem;
}

.container-perfil p{
    margin-left: 10.5rem;
    text-align: left;
    font-weight: 500;
    font-size: 10px;
}

.container-perfil button{
    max-width: 6rem;
    background-color: #2766A9;
    border-radius: 12px;
    border: none;
    font-size: 10px;
    margin-top: 0.3rem;
    margin-left: 2rem;
    font-weight: 500;
    color: #F5F5F5;
}

.checklist p {
  margin-left: 30rem;
  font-size: 15px;
  position: relative;
  margin-bottom: 0.5rem;
}

.checklist p::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  border-radius: 2px;
  margin-right: 10px;
  position: relative;
  top: 2px;
  background-color: transparent;
}

.checklist p::after {
  content: "";
  display: none;
  position: absolute;
  top: 2px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 1px;
  background-color: #000;
}

.checklist p:hover::before {
  border-color: #999;
}

.checklist p.selected::after {
  display: block;
}

.autenticacao-duas-etapas p {
  font-size: 15px;
  margin-left: 30rem;
  margin-top: 1rem;
}

.autenticacao-duas-etapas p:nth-child(2) input::placeholder,
.autenticacao-duas-etapas p:nth-child(3) input::placeholder {
  font-style: italic;
  color: #999;
}

.salvar-configuracoes{
    background-color: #2766A9;
    width: 5rem;
    height: 2rem;
    color: #F5F5F5;
    margin-top: 1rem;
    margin-left: 35rem;
    font-size: 15px;
    border-radius: 12px;
    border: none;
}