
html, body{
    height: 100%;
}
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #D5E6ED;
}
header, footer{
    background-color: #F5F5F5;
    height: 12%;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4%;
    color: #1B2023;
}
footer{
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 500;
}
#logo-empresa{
    max-width: 300px;
    max-height: calc(100% - 20px);/*altura do pai (header) -20px para as margens*/
}
#logo-KER{
    scale: 125%;
    max-width: 130px;
}
#body-row{
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 0px;
    min-height: 76%;
}
main{
    box-sizing: border-box;
    padding: 4% 2%;
    min-height: 100%;
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
nav{
    position: relative;
    background-color: #2766A9;
    width: 16%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    padding: 4% 0px 0px 0px;
}
#buttons{
    position: fixed;
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
nav button{
    position: relative;
    display: flex;
    align-items: center;
    gap: 8%;
    background-color: transparent;
    border: none;
    padding: 0px 0px 0px 20%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #A5CEE0;
    width: 100%;
    height: 7%;
}
#selection-bar{
    width: 1%;
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 0px 16px 16px 0px;
    position: absolute;
    left: 0px;
    opacity: 0;
}
#selected-nav{
    color: white;
}
#selected-nav path{
    stroke: white;
}
#selected-nav #selection-bar{
    opacity: 1;
}

/*---------- estilização do conteúdo da main ↓*/
/*---------- Cabeçalho  */
#cabecalho{
    background-color: #F5F5F5;
    width: 100%;
    height: fit-content;
    max-height: 18.5%;
    border-radius: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;

    position: relative;
}
#foto-empresa{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    border-radius: inherit;
}
#foto-empresa img{
    width: 100%;
    /* border-radius: inherit; */
}
#cabecalho h1{
    position: relative;
    left: -4%;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #1B2023;
    text-align: end;
}
#nome-empresa{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
.desafio{
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 24px 0px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.desafio h2{
    margin: 0px;
    font-weight: 700;
    font-size: 28px;
    line-height: 39px;
    color: #1B2023;
}
.desafio p{
    margin: 0px;
    color: #1B2023;
}
.desafio button{
    background-color: #2766A9;
    border: none;
    border-radius: 12px;
    padding: 8px 32px;

    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #F5F5F5;
}